#body{
	background-image: url(fondo_pagina.jpg);
}
#cabecera{
	background-image: url(fondo1.jpg);
}
#contenido{
	background-image: url(fondo3.jpg);
}
#piedepagina{
	background-image: url(fondo3.jpg);
}